[init]
  defaultBranch = main

[user]
	name = Mpinyaz
	email = ebmpinyuri@gmail.com
[core]
	pager = delta
    compression = 9
    preloadindex = true
[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    dark = true
    # light = true
[push]
	autoSetupRemote = true
[merge]
	conflictStyle = zdiff3

[diff]
    colorMoved = default
[status]
        branch = true
        showStash = true
        showUntrackedFiles = true
[pull]
        rebase = true
[fetch]
        prune = true
[http]
	postBuffer = 157286400
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
