/* Colors (dracula) */
@define-color foreground	#f8f8f2;
@define-color background	rgba(40, 42, 54, 0.5);
@define-color orange	#ffb86c;
@define-color gray	#44475a;
@define-color black #21222c;
@define-color red	#ff5555;
@define-color green	#50fa7b;
@define-color yellow	#f1fa8c;
@define-color cyan	#8be9fd;
@define-color blue	#6272a4;
@define-color purple	#bd93f9;
@define-color pink	#ff79c6;
@define-color white #ffffff;
@define-color brred #ff6e6e;
@define-color brgreen #69ff94;
@define-color bryellow #ffffa5;
@define-color brcyan #a4ffff;
@define-color brblue #6272a4;
@define-color brpurple #d6acff;
@define-color brpink #ff92df;

@define-color arch_blue #89b4fa;

@define-color workspace_background	@background;
@define-color workspace_button	@foreground;
@define-color workspace_active	@black;
@define-color workspace_active_background	@green;
@define-color workspace_urgent	@white;
@define-color workspace_urgent_background	@brred;
@define-color workspace_hover	@black;
@define-color workspace_hover_background	@pink;
@define-color critical	@red;
@define-color warning	@yellow;

@keyframes blink {
  to {
    background-color: @white;
    color: @black;
  }
}

* {
  border: none;
  border-radius: 0;
  font-weight: bold;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 14px;
  min-height: 0;
}
#idle_inhibitor {
  color: @purple;
  padding: 0px 10px 0px 10px;
}
window#waybar {
  background: transparent;
  color: @foreground;
}
#workspaces,
#clock,
#custom-weather,
#battery {
  opacity: 0.7;
  transition: none;
  margin: 0px 5px 0px 5px;
  border: 2px solid @purple;

  padding: 0px 5px 0px 5px;
  border-radius: 13px;
  background: alpha(@gray, 0.6);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.6);
  border: 1px solid @cyan;
}

#workspaces button,
#workspaces button.persistent {
  background: transparent;
  padding: 0px 5px 0px 5px;
  color: alpha(@green, 0.8);
  transition: all 1.2s ease;
  border: none;
  text-shadow: 1px 0px 1.5px rgba(0, 0, 0, 0.2);
}
#workspaces button.active {
  color: @bryellow;
}
#taskbar {
  padding: 0px;
  margin: 0px 5px 0px 5px;
}
#taskbar button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 0px;
  color: @wb-color;
  animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
  background: alpha(@brgreen, 0.4);
  color: @cyan;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: tb_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}
tooltip {
  background: @background;
  opacity: 0.95;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @purple;
}

tooltip label {
  color: @grey;
}
#custom-logo {
  padding: 0px 10px 0px 10px;
  font-size: 22px;
  color: @red;
  margin: 6px;
  border-radius: 13px;
}
#custom-system,
#custom-notification,
#idle_inhibitor,
#custom-updates,
#pulseaudio,
#taskbar,
#connect,
#backlight,
#custom-systeminfo,
#tray {
  opacity: 1;
  padding: 0px 10px 0px 10px;
  border-radius: 13px;
  background: alpha(@background, 0.6);
}

#cpu,
#disk,
#memory {
  margin: 0px 3px 0px 3px;
}
#window,
#custom-appmenu {
  opacity: 1;
  padding: 0px 10px 0px 10px;
  border-radius: 13px;
  color: alpha(@green, 0.8);
  background: alpha(@background, 0.6);
  border: 1px solid @cyan;
}
#disk.critical,
#temperature.critical {
  background-color: @critical;
}

#disk.warning,
#temperature.warning {
  background-color: @warning;
}

#battery {
  color: @green;
}

#battery.discharging {
  color: @foreground;
}

#battery.warning:not(.charging) {
  background: @warning;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background-color: @critical;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#custom-power {
  color: @red;
  border-radius: 0px 5px 5px 0px;
}

#tray {
  background: @background;
  border-radius: 5px;
}
#pulseaudio-slider {
  margin: 0px 10px 0px 10px;
  padding: 0px 10px 0px 10px;
  color: @purple;
}
#temperature.critical,
#pulseaudio.muted {
  color: #ff0001;
  padding-top: 1;
}
#clock {
  color: @brgreen;
}
#cpu {
  color: @orange;
}
#disk {
  color: @brgreen;
}
#network {
  color: @green;
  padding: 0px 0px 0px 0px;
}
#memory {
  color: @cyan;
}
#custom-notification {
  color: darkseagreen;
}
#backlight {
  color: @yellow;
}
#custom-weather {
  color: @green;
}
#bluetooth {
  color: @pink;
  padding: 0px 5px 0px 0px;
}
#custom-system {
  font-size: 22px;
}
#battery.charging {
  color: #ffffff;
  background-color: #27a65b;
}
#battery.warning:not(.charging) {
  background-color: #ffbe62;
  color: black;
}
#battery.critical:not(.charging) {
  background-color: #f54c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  border-radius: 13px;
  background: alpha(@background, 0.6);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.6);
  border: 1px solid @cyan;
}
#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 90px;
  border-radius: 5px;
  background-color: @cyan;
}
#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 10px;
  background-color: @purple;
}

#backlight-slider slider {
  min-height: 0px;
  min-width: 0px;
  border-radius: 13px;
  background: alpha(@background, 0.6);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.6);
  border: 1px solid @cyan;
}
#backlight-slider trough {
  min-height: 10px;
  min-width: 90px;
  border-radius: 5px;
  background-color: @cyan;
}
#backlight-slider highlight {
  min-width: 10px;
  border-radius: 10px;
  background-color: @purple;
}
